.last-posts{
    position: relative;
    & > p{
        text-align: center;
    }
    h2{
        text-align: center;
        font-size: 55px;
        max-width: 900px;
        margin: 4rem auto;
        color: var(--global--color-white);
    }
    .articles-list{

        display: grid;
        grid-gap: 2.5rem;
        grid-template-columns: repeat(3, 1fr);
        @media screen and (max-width:$breakpoint_lg) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,auto);
        }
        article{
            max-width: 400px;
            width: 100%;

            margin: 0 auto;
            padding: 3rem;

            background-color: var(--global--color-white);
            box-shadow: 0px 0px 59px #00000015;

            border-radius: 2rem;

            text-align: center;

            p{
                &:not(:first-child){
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                }

            }
            .entry-header{
                margin: 1.5rem 0;
                padding: 0;
                h2{
                    font-size: 24px;
                    min-height: 90px;
                    margin: 1rem 0;
                    a{
                        text-decoration: none;         
                    }
                }
            }
        }
    }
}
.bg-post{
    position: relative;
    padding-top: 3rem;
    margin-top: 0;
}

