.modale{
    position: fixed;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(5px);

    top: 0;
    left: 0;

    z-index: 999;

    background: rgba(0, 0, 0, 0.500);
    img{
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .modaleContent{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: fit-content;
        iframe{
            border-radius: 4rem;
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;  
        }
        @media screen and (max-width:$breakpoint_sm) {
            width: 90%;
            iframe{
                border-radius: 2rem;
            }
        }
    }
}